<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cobertura</title>
  </head>
  <body>
    <img src='../images/logo.png' alt='Logo Cobertura' />

    <div class='containerHome'>
      <div class='containerLogin'>
        <h1>LOGIN</h1>
        <form>
          <input name='email' type='email' placeholder="EMAIL" />
          <input name='password' type='password' placeholder="SENHA" />
          <button id='btnLogin' type='submit'>LOGIN</button>
        </form>
      </div>
      
      <div>
        <h1>CADASTRO</h1>
      </div>
    </div>

  </body>
</html>