<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cobertura: Ronaldinho</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <img src='../images/logo.png' alt='Logo Cobertura' />

    <div class='containerCorretor'>
      <img class='avatarCorretor' src='https://pbs.twimg.com/profile_images/972672468031885313/VAemDZAQ.jpg' alt='Ronaldo' />
      <div>
        <h1>{{ user.name }} {{ user.surname }}</h1>
        <p>{{ houses.length }} Imóveis disponível para visitas</p>
        <p class='tag'>CORRETOR PREMIUM</p>
      </div>
    </div>
    
    <h1>Imóveis</h1>
    <div class='containerCard'>
      {{#each houses}}
        <div class='card'>
          <h1>{{ title }}</h1>
        </div>
      {{/each}}
    </div>
  </body>
</html>