body {
  padding: 50px;
  font-family: 'CircularStd_Book', sans-serif;
  font-weight: normal;
  
  background-color: #445EE9;
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
}

.containerCard {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  width: 240px;
  height: 300px;
  color: #383B41;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.card > h1 {
  color: #383B41;
}

.containerCorretor {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.containerCorretor > div > h1 {
  margin-left: 20px;
  margin-bottom: 0;
}

.containerCorretor > div > p {
  margin-left: 20px;
  margin-bottom: 0;
}

.containerCorretor > div > .tag {
  width: 123px;
  border-radius: 36px;
  background-color: rgba(247, 202, 24, 1);
  padding: 10px;
  font-size: 12px;
}

.avatarCorretor {
  height: 120px;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .containerCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* LOGIN / CADASTRO */
.containerHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerLogin {
  display: flex;
  flex-direction: column;
}

.containerLogin > form > input {
  padding: 10px;
  margin: 10px;
  border-radius: 36px;
  border: none;
  font-family: 'CircularStd_Book', sans-serif;
}

.containerLogin > form > button {
  padding: 10px;
  margin: 10px;
  border-radius: 36px;
  border: none;
  background-color: rgba(247, 202, 24, 1);
  color: #FFFFFF;
  font-family: 'CircularStd_Book', sans-serif;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd_Book';
  src: url('./fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

