<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cobertura</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img src='images/logo.png' alt='Logo Cobertura' />
    <h1>Cobertura</h1>
  </body>
</html>