<div class="navbar-fixed">
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img src="../images/logo_colored.png" alt="Logotipo do Cobertura" class="logo" height="48">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down perfil">
        <ul class="d-flex justify-content-start align-items-start flex-column">
          <li>
            <div class="dropdown">
              <a class="name align-items-center dropdown-toggle" href="#!" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.name }} {{ user.surname }}
                <span class="fal ml-1"></span>
              </a>
              <div class="dropdown-menu fade" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><span class="fa mr-2 col"></span>Informações</a>
                <a class="dropdown-item" href="#"><span class="fa mr-2 col"></span>Editar Perfil</a>
                <a class="dropdown-item" href="#"><span class="fa mr-2 col"></span>Configurações</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/login"><span class="fa mr-2 rotate text-danger col"></span>Sair</a>
              </div>
            </div>
          </li>
        </ul>
        <img src="images/avatars/{{ user.avatar }}" alt="Foto de perfil" class="img-perfil" height="48">
      </ul>
    </div>
  </nav>
</div>